body {
  background-color: #fffbe7;
  font-family: Arial, sans-serif;
}

table {
  width: 100%;
  border-collapse: collapse;
}

td, th {
  border: 1px solid black;
  padding: 10px;
  text-align: center;
}

.vertical-text {
  writing-mode: vertical-rl;
  text-orientation: mixed;
}